* {
    --image-1: url("./images/books.png");
    --image-2: url("./images/photo.png");
    --image-3: url("./images/contact.png");
    --image-4: url("./images/yarn.png");
    --image-5: url("./images/tech.png");
    --image-6: url("./images/bass.png");
    --main-color-1: #7489A6;
    --main-color-2: #ACD2ED;
    --main-color-3: #E6AACE;
    --main-color-4: #FFFDA4;
    --main-color-5: #BFCC94;
    --main-color-6: #C19B90;
    --black: #000000;
    --dark: #243956;
    --light: #C4D9F6;
}

a {
    color: var(--dark);
}

a:hover {
    color: var(--black);
}

body {
    width: 100vw;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

body.bio-body {
    display: block;
    overflow: scroll;
}

body.fade-out {
  animation: fadeOutAnimation ease 500ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeOutAnimation {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

h1 {
    color: var(--black);
    font-size: 6em;
    font-family: Tahoma, sans-serif;
    display: inline-block;
    text-align: left;
}

h2 {
    color: var(--black);
    font-size: 3em;
    text-align: center;
    font-family: Tahoma, sans-serif;
    width: 100%;
    background-color: var(--main-color-2);
}

h3 {
  font-family: Tahoma, sans-serif;
}

li {
    text-align: left;
}

p, span {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 22px;
}

.back {
    width: 50px;
    position: fixed;
    top: 0px;
}

.bio {
  text-align: center;
  color: var(--black);
  border-left: 1px solid var(--black);
  padding: 0 15px;
  position: absolute;
}

.bio-image {
    width: 60%;
}

.header {
  position: fixed;
  top: 0px;
}

.radio-button {
    margin-bottom: 5em;
    border: 0.2rem solid var(--black);
    background-color: var(--light);
    border-radius: 50%;
    accent-color: var(--light);
}

.radio-button:hover {
    outline: 1px solid var(--light);
}

.page-hide {
  display: none;
}

.page-show {
  display: block;
}


/* --- Pages --- */

/* Yarn */

* {
  --main-color-1: #E6AACE;
}

.yarn-col {
  width: 33%;
  float: left;
}

.yarn-img {
  width: 100%;
}

.yarn-footer {
  display: flex;
}

.with-caption {
  border-radius: 30px;
  background-color: var(--main-color-1);
  padding-bottom: 10px;
}

/* Bass */

* {
  --main-color-2: #ACD2ED;
}

.bass-img {
  width: 80%;
  margin-left: 10%;
}

.bass-img-block {
  display: flex;
  justify-content: center;
}

/* Contact */

.contact-img {
  width: 100px;
  height: 100px;
  opacity: 1;
}

.contact-img:hover {
  opacity: .7;
}

.contact-link {
  width: 100px;
  height: 100px;
  margin: 0 25px;
}

.contact-body {
  text-align: center;
  width: 60%;
  display: flex;
  position: absolute;
  top: 50%;
  align-items: center;
}

/* Photo */

* {
  --main-color-1: rgba(116, 137, 166, .95);
}

.thumbnail {
  margin: 5px;
  height: 150px;
}

.hide {
  display: none;
}

#image {
  width: 70%;
  height: 70%;
  top: 15%;
  left: 15%;
  position: fixed;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#image-container {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  position: fixed;
  background-color:var(--main-color-1);
  border: 1px solid black;
}

#caption {
  background-color: rgba(0,0,0,.6);
  font-size: 24px;
  color: white;
  text-shadow: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5px 0;
}

.imgArrowBox {
  cursor: pointer;
  height: 50px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
}

.arrowImg {
  height: 50px;
}

#leftArrowBox {
  left: 10px;
}

#rightArrowBox {
  right: 10px;
}


*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  
  #wrapper {
    padding-top: 10%; }
  
  .viewport {
    -webkit-perspective: 800px;
    -moz-perspective: 800px;
    -ms-perspective: 800px;
    -o-perspective: 800px;
    perspective: 800px;
    -webkit-perspective-origin: 50% 200px;
    -moz-perspective-origin: 50% 200px;
    -ms-perspective-origin: 50% 200px;
    -o-perspective-origin: 50% 200px;
    perspective-origin: 50% 200px;
    -webkit-transform: scale(0.8, 0.8);
    -moz-transform: scale(0.8, 0.8);
    -ms-transform: scale(0.8, 0.8);
    -o-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
    -webkit-box-reflect: below 170px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0%, transparent), to(rgba(250, 250, 250, 0.1))); }
  
  .content {
    float: right;
    width: 60%;
  }
  
  .cube-container {
    float: left;
    width: 40%;
    top: 40%;
    position: fixed;
  }

  .cube {
    position: relative;
    margin: 0 auto;
    height: 200px;
    width: 200px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: rotateX(136deg) rotateY(1122deg);
    -moz-transform: rotateX(136deg) rotateY(1122deg);
    -ms-transform: rotateX(136deg) rotateY(1122deg);
    -o-transform: rotateX(136deg) rotateY(1122deg);
    transform: rotateX(136deg) rotateY(1122deg); 
}
  
  .cube > div {
    overflow: hidden;
    position: absolute;
    opacity: 0.95;
    height: 200px;
    width: 200px;
    background-image: url("https://jordizle.com/static/img/codepen/blank.png");
    -webkit-touch-callout: none;
    -moz-touch-callout: none;
    -ms-touch-callout: none;
    -o-touch-callout: none;
    touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none; }
  
  .cube > div > div.cube-inner {
    width: 200px;
    height: 200px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    line-height: 200px;
    font-size: 80px;
    text-align: center;
    color: #1b9bd8;
    -webkit-transition: color 600ms;
    -moz-transition: color 600ms;
    -ms-transition: color 600ms;
    -o-transition: color 600ms;
    transition: color 600ms; 
}
  
  .cube > div:hover {
    cursor: pointer; }
  
  .cube > div:active {
    cursor: pointer; }
  
  .cube > div:first-child {
    -webkit-transform: rotateX(90deg) translateZ(100px);
    -moz-transform: rotateX(90deg) translateZ(100px);
    -ms-transform: rotateX(90deg) translateZ(100px);
    -o-transform: rotateX(90deg) translateZ(100px);
    transform: rotateX(90deg) translateZ(100px);
    outline: 1px solid transparent;
    background-image: var(--image-1);
    background-color: var(--main-color-1);
 }
  
  .cube > div:nth-child(2) {
    -webkit-transform: translateZ(100px);
    -moz-transform: translateZ(100px);
    -ms-transform: translateZ(100px);
    -o-transform: translateZ(100px);
    transform: translateZ(100px);
    outline: 1px solid transparent;
    background-image: var(--image-2);
    background-color: var(--main-color-2);
    background-size: 95%;
    background-repeat: no-repeat;
 }
  
  .cube > div:nth-child(3) {
    -webkit-transform: rotateY(90deg) translateZ(100px);
    -moz-transform: rotateY(90deg) translateZ(100px);
    -ms-transform: rotateY(90deg) translateZ(100px);
    -o-transform: rotateY(90deg) translateZ(100px);
    transform: rotateY(90deg) translateZ(100px);
    outline: 1px solid transparent; 
    background-image: var(--image-3);
    background-color: var(--main-color-3);
    background-size: 95%;
    background-repeat: no-repeat;
}
.side {
    background-size: 95%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
}
  
  .cube > div:nth-child(4) {
    -webkit-transform: rotateY(180deg) translateZ(100px);
    -moz-transform: rotateY(180deg) translateZ(100px);
    -ms-transform: rotateY(180deg) translateZ(100px);
    -o-transform: rotateY(180deg) translateZ(100px);
    transform: rotateY(180deg) translateZ(100px);
    outline: 1px solid transparent; 
    background-image: var(--image-4);
    background-color: var(--main-color-4);
    background-size: 95%;
    background-repeat: no-repeat;}
  
  .cube > div:nth-child(5) {
    -webkit-transform: rotateY(-90deg) translateZ(100px);
    -moz-transform: rotateY(-90deg) translateZ(100px);
    -ms-transform: rotateY(-90deg) translateZ(100px);
    -o-transform: rotateY(-90deg) translateZ(100px);
    transform: rotateY(-90deg) translateZ(100px);
    outline: 1px solid transparent; 
    background-image: var(--image-5);
    background-color: var(--main-color-5);
    background-size: 95%;
    background-repeat: no-repeat;
}
  
  .cube > div:nth-child(6) {
    -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -moz-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -ms-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    -o-transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    transform: rotateX(-90deg) rotate(180deg) translateZ(100px);
    outline: 1px solid transparent; 
    background-image: var(--image-6);
    background-color: var(--main-color-6);
    background-size: 95%;
    background-repeat: no-repeat;}
  
  object {
    opacity: 0.5; }
  
  object:hover {
    opacity: 1; }
  
  @media (max-width: 640px) {
    .viewport {
      -webkit-transform: scale(0.6, 0.6);
      -moz-transform: scale(0.6, 0.6);
      -ms-transform: scale(0.6, 0.6);
      -o-transform: scale(0.6, 0.6);
      transform: scale(0.6, 0.6); } }