* {
    --main-color-1: rgba(116, 137, 166, .95);
}

.thumbnail {
	cursor: pointer;
	margin: 5px;
    height: 150px;
}

.hide {
	display: none;
}

#image {
	width: 70%;
	height: 70%;
	top: 15%;
	left: 15%;
	position: fixed;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

#image-container {
	width: 80%;
	height: 80%;
	top: 10%;
	left: 10%;
	position: fixed;
	background-color:var(--main-color-1);
	border: 1px solid black;
}

#caption {
	background-color: rgba(0,0,0,.6);
    font-size: 24px;
    color: white;
    text-shadow: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	text-align: center;
	padding: 5px 0;
}

.imgArrowBox {
	cursor: pointer;
	height: 50px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
}

.arrowImg {
    height: 50px;
}

#leftArrowBox {
	left: 10px;
}

#rightArrowBox {
	right: 10px;
}
